<div class="container">
  <div class="row justify-content-center">
    <app-scanner></app-scanner>
  </div>
  <div class="row justify-content-center">
    <mat-form-field class="full-width">
      <mat-label>Search UPC code</mat-label>
      <input
        matInput
        placeholder="Ex. 0012345678905"
        [(ngModel)]="upcCode"
        (keyup.enter)="onEnter()"
      />
    </mat-form-field>
    <button
      mat-stroked-button
      color="primary"
      [disabled]="upcCode.length < minUpcLength"
      (click)="search()"
    >
      Search
    </button>
  </div>
</div>
