<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <div>
      <span [routerLink]="['/']" class="title">Find Cheaper</span>
    </div>
    <div class="flex-spacer"></div>
    <div>
      <span *ngIf="socialUser" class="welcome">
        <img *ngIf="socialUser.photoUrl" [attr.src]="socialUser.photoUrl"
      /></span>
      <span *ngIf="showLogin" class="login" (click)="signInWithGoogle()">
        Login with <app-google-svg></app-google-svg>
      </span>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="flex-spacer"></div>
    <div>
      <span *ngIf="socialUser" class="login" (click)="signOut()">Logout</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<ngx-spinner size="medium" color="#ffffff" type="ball-grid-beat">
  <p style="color: #ffffff">Loading...</p>
</ngx-spinner>
