<div class="container" *ngIf="socialUser">
  <ng-container *ngFor="let historyItemGrouped of historyItemsGrouped">
    <div class="row justify-content-center">
      <h2>{{ historyItemGrouped.date | date }}</h2>
    </div>
    <div class="row justify-content-center">
      <mat-nav-list>
        <mat-list-item
          [routerLink]="['/result/' + historyItem.upc]"
          *ngFor="let historyItem of historyItemGrouped.historyItems"
        >
          <div class="col-3">
            {{ historyItem.date | date: "hh:mm" }}
          </div>
          <div class="col-7">
            {{ historyItem.title }}
          </div>
          <div class="col-2">
            <button mat-icon-button>
              <mat-icon>info</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </ng-container>
  <div
    class="row justify-content-center"
    *ngIf="historyItemsGrouped.length === 0"
  >
    <br />
    <h3>No History</h3>
  </div>
</div>
<div class="container" *ngIf="!socialUser">
  <div class="row justify-content-center">
    <br />
    <h3>Login for History</h3>
  </div>
</div>
